* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.jobcard {
  background-color: white;
  border: 2.5px solid rgb(59, 182, 59);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px;
}
.top-logo {
  height: 100px;
  overflow: hidden;
}

.jobcard h2 {
  color: red;
  background-color: rgb(210, 216, 221);
  width: 100%;
  text-align: center;
}
.top-logo img {
  object-fit: cover;
  max-height: 100%;
}
.app-btn {
  border: none;
  background-color: rgb(59, 182, 59);
  color: white;
  padding: 6px;
  border-radius: 5px;
  width: 30%;
}
